
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-white" *ngIf=isLoggedIn>
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="index.html"><img src="/assets/img/logo.png" alt="logo" class="img-fluid"></a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 d-lg-none d-md-block order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#"><img src="assets/img/menu-one.svg" width="25px"></button>
            <!-- profile start-->
            <ul class="navbar-nav ms-auto  me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link " id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="assets/img/profile.jpg" class="profile-img" alt="profile">
                    </a>
                    <span class="user-status"></span>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="/profile" >Profile</a></li>
                        <!-- <li><hr class="dropdown-divider m-0" /></li> -->
                        <li><a class="dropdown-item" (click)=logout() >Logout</a></li>
                    </ul>
                </li>
            </ul>
            <!-- profile end-->
        </nav>
        <div id="layoutSidenav">
            <!-- side navbar start -->
            <div id="layoutSidenav_nav" *ngIf=isLoggedIn >
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav mt-2">

                            <a class="nav-link" *ngIf="role == 'admin'" routerLink="/customers" >
                                <div class="sb-nav-link-icon"><i class="icon-dashboard"></i></div>
                                Members
                            </a>
                            <a class="nav-link" routerLink="/profile" >
                                <div class="sb-nav-link-icon"><i class="icon-user"></i></div>
                                Profile
                            </a>
                            <a class="nav-link" *ngIf="role == 'customer'" routerLink="/customers/{{customerId}}/products">
                                <div class="sb-nav-link-icon"><i class="icon-increase"></i></div>
                                Product
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
            <!-- side navbar end -->
            <div id="layoutSidenav_content">
                <!-- main content start -->
                <main>
                    <section class="container-fluid px-4">
                      <router-outlet></router-outlet>
                    </section>
                </main>
                <!-- main content end -->
                <!-- footer start -->
                <footer class="py-2 bg-white">
                    <div class="container-fluid">
                    </div>
                </footer>
                <!-- footer end -->
            </div>
        </div>
        <!-- Bootstrap core JavaScript -->
        <!-- <script src="assets/js/bootstrap.bundle.js"></script>
        <script src="assets/js/jquery.js"></script>
        <script src="assets/js/scripts.js"></script>  -->
        <!-- custom js -->

    </body>
